{% extends "admin/base.html" %}
{% load static %}
{% block title %} MentorConnect Admin Panel {% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img style="width:65px; height:55px;" src="/media/logo.png" alt="Logo">
        MentorConnect Application</a>
</h1>
{% endblock %}

{% block content %}
{{ block.super }}
{% endblock %}

{% block footer %}
<footer style="
    background: #000;
    color: #cbd5f5;
    text-align: center;
    padding: 12px;
    border-top: 1px solid rgba(99,102,241,0.3);
    font-size: 13px;
">
    <p class="mb-1">
        © 2026 MentorConnect. All Rights Reserved.
    </p>
    <small>
        Developed by Swayam Shah, Zahra Surve, Purav Shah and Urvija Sawant under the guidance of Prof. Sujata Oak.
    </small>
</footer>
{% endblock %}
